*{
    margin: 0;
    padding: 0;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1297px;
    margin: 0 auto;
}
.container1{
    max-width: 1400px;
    margin: 0 auto;
}
.container2{
    max-width: 1296px;
    margin: 0 auto;
}
.container3{
    max-width: 1368px;
    margin: 0 auto;
    margin-right: 0px;
}
.container4{
    max-width: 1076px;
    margin: 0 auto;
}
header{
background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(24, 24, 35, 1) 23%);
    
}
.header-logo{
    width: 79px;
    margin: 29px 0 32px 0;
}
.inf{
    margin-left: 24px;
    text-decoration: none;
    color: white;
}
.inf-button{
    background-color: #5221E6;
    width: 110px;
    height: 88px;
    margin-left: 24px;
    color: white;
    border: none;     
    outline: none; 
    padding: 32px 24px;
    text-decoration: none;
}
.inf-button:hover{
    font-size:larger;
    background-color: blueviolet;
}
.but:hover{
    font-size:larger;
    background-color: blueviolet;
}
.menu-icon{
    display: none;
}
h1{
    font-size: 78px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 32px;
}
h1 span{
    font-size: 78px;
    font-weight: 600;
    opacity: 50%;
}
.itog1{   
    padding: 80px 40px 84px 0;
    display: flex;
    align-items: center; 
    justify-content: space-between;

    }
.Robin{
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(24, 24, 35, 1) 23%);
}
.Robin-img{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.Robin1{
    flex: 1; 
    max-width: 738px; 
    margin-left: -80px; 
    position: relative; 
    z-index: 2; 
}
.Robin1 p{
    font-size: 18px;
    font-weight: 150px;
    color: white;
}
/*Company*/
.Company{
    background: black;
    padding: 120px 0 120px;
}
.Company-text p{
    color: lightgrey;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}
h2{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.Company-text h2{
    max-width: 689px;
}
.Company-flex{
    display: flex;
    margin-top: 40px;
}
h3{
    color: #8491A0;
    font-size: 117px;
    font-weight:lighter;
}
.Company1 span{
    color: green;
    font-size: 24px;
}
h4{
    font-size: 24px;
    color: white;
}
.Company1 p{
    margin-top: 22px;
    color: lightgrey;
    max-width: 368px;
}
.Company1{
    max-width: 416px;
    margin-right: 24px;
}
.Company2{
    max-width: 416px;
    margin-right: 24px;
}
.Company2 span{
    color: blue;
    font-size: 24px;
}
.Company2 p{
    margin-top: 22px;
    color: lightgrey;
    max-width: 368px;
}
.Company3{
    max-width: 416px;
}
.Company3 span{
color: pink;
font-size: 24px;
}
.Company3 p{
    margin-top: 22px;
    color: lightgrey;
    max-width: 368px;
}
/*Philosophy*/
.Philosophy{
    background: #FFF3E4;
}
.Philosophy-flex{
    display: flex;
}
.Philosophy-text{
    padding: 120px 72px 120px 0;
}
.Philosophy-text h2{
    color: black;
    margin-bottom: 24px;
}
.Philosophy-text p{
    color: gray;
    font-size: 18px;
    margin-bottom: 134px;
}
.Philosophy-text a{
    color: #000000;
}
/*Skill*/
.Skill{
    background: #000000;
}
.Skill-flex{
    display: flex;
    padding: 120px 0 120px 0;
}
.Skill p{
    color: grey;
}
.Skill-text1 h2{ 
    margin-bottom: 24px;
}
.Skill-text2 img{
    margin-bottom: 24px;
}
.Skill-text2 h3{
    font-size: 24px;
    color: white;
    margin-bottom: 12px;
}
.Skill-text2 p{
    margin-bottom: 24px;
}
.Skill-text1{
    max-width: 416px;
    margin-right: 24px;
}
.Skill-text2{
    max-width: 416px;
    margin-right: 24px;
}
.Skill-img{
    display: flex;         
    align-items: center;   
    justify-content: space-between; 
    width: 100%; 
}
.Skill-img div{
    flex: 1;               
    display: flex;         
    justify-content: center; 
    align-items: center;   
    box-sizing: border-box;
    border: 1px solid grey; 
    padding: 55px 127px;
}
.Skill-img .dop{
    display: none;
}
/*project*/
.project{
    padding: 120px 0 153px 0;
    background: #000000;
}
.project-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;              
    margin: 0 auto;                 
    gap: 24px;                      
}
.project-flex div {
    flex: 1;
    display: flex;
    flex-direction: column;         
    gap: 24px;                      
}
.pro {
    background-color: #181823;      
    display: flex;
    flex-direction: column;}         
.project1 p{
    color: grey;
    margin-bottom: 8px;
}
.project1 h2{
    margin-bottom: 80px;
}
.project-text h3{
    margin: 0 289px 0 32px;
    font-size: 24px;
    color: white;
}
.project-text p{
    color: grey;
    margin: 0 32px 42px 32px;
}
.button {
    display: flex; 
    margin-top: 60px;                  
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.button a {
    display: inline-block;     
    text-decoration: none;     
    background: transparent;   
    border: 1px solid #333339;
    color: #ffffff;            
    padding: 24px 32px;       
    text-transform: uppercase; 
    white-space: nowrap;       
    width: max-content;
}

/*Inst*/
.Inst{
    background: violet;
}
.Inst-flex{
    display: flex;
}
.Inst-text{
    padding: 120px 72px 120px 0;
}
.Inst-text h2{
    color: black;
    margin-bottom: 24px;
}
.Inst-text p{
    color: gray;
    font-size: 18px;
    margin-bottom: 134px;
}
.Inst-text a{
    color: #000000;
}
/*Dribble*/
.Dribbble{
    background: #000000;    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dribbble-text{
    padding: 120px 0;
    text-align: left;
}
.Dribbble-text p{
    color: grey;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.Dribbble-text a{
    color:white;
    margin-bottom: 124px;
}
.Dribbble-img{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 120px;
}
.test{
    background: #000000;
}
.test-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.test-text{
    max-width: 588px;
    margin-top: 120px;
}
.test-text p{
    color: grey;
    margin-top: 24px;
    margin-bottom: 66px;
    font-size: 18px;
}
.test-text a{
    color: white;
}
.test-img {
    display: flex;
    flex-direction: column;
    gap: 120px; 
    max-width: 636px;
    margin-top: 120px;
    margin-bottom: 120px;} 
.test-o{
    border: grey solid 1px;
}
.test-o-text{
    padding: 64px 64px 64px 64px;
}
.test-o-text h4{
    margin-bottom: 64px;
}
.test-o-text p{
    color: gray;
    font-size: 18px;
}
.photo{
    background: #000000;
}
.photography-text{
    padding-top: 120px;
    margin-bottom: 64px;
}
.photography-text p{
    color: grey;
    font-size: 18px;
    margin-top: 24px;
    max-width: 588px;
}
.photography-img{
    padding-bottom: 120px;
    padding-top: 40px;
    display: flex;
    gap: 24px;
}
.photography-as{
    display: flex;
    gap: 24px;
}
.photography1{
    border: #5221E6 solid 1px;
    color: white;
    background-color: #5221E6;
    padding: 12px 16px;
    text-decoration: none;
}
.photography2{
    border: #5221E6 solid 1px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}
.photography3{
    border: #5221E6 solid 1px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}
.photography4{
    border: #5221E6 solid 1px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}
.started{
    background: #000000;
}
.started-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.started-text{
    padding-top: 120px;
}
.started-text p{
    margin-top: 24px;
    color: grey;
    font-size: 18px;
    max-width: 526px;
}

.started-a {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    max-width: 526px; 
    width: 100%;
    padding-top: 120px;
    margin-bottom: 120px;
}


.name-group, .email-group, .message-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}


.started-a input,
.started-a textarea {
    width: 100%; 
    box-sizing: border-box; 
    background-color: #181824; 
    border: none;
    color: #fff;
    padding: 12px;
}


.started-a textarea {
    min-height: 100px; 
    resize: vertical; 
}


.started-a label {
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 8px;
}


.started-a a {
    display: block;
    width: 100%; 
    box-sizing: border-box;
    background-color: #5833ee; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 24px 177px;
    font-weight: bold;
    text-transform: uppercase; 
}

footer {
    background-color: #161623;
    padding: 80px 0 40px 0;   
    color: #ffffff;
}


.footer-flex {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;}     


.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 32px;}                 


.ss {
    display: flex;
    gap: 16px;              
}


.ssp-flex {
    display: flex;
    gap: 100px;  
    margin-right: 110px;              
}

.ssp {
    display: flex;
    flex-direction: column;    
    gap: 30px;                 
}

.ssp a {
    color: #ffffff;
    text-decoration: none;       
}
.ssp a:hover {
    opacity: 1; }               


.footer-text {
    padding-top: 80px;
}

.footer-text p {
    color: grey;
}



@media(min-width: 768px) and (max-width:1440px){
    .container{
        max-width: 688px;
        margin: 0 auto;
    }
    header{
        background-image: none;
        background-color: black;
    }

    .Robin{
        background: black;

    }
    .container1{
        max-width: 742px ;
    }
    .itog1{   
    padding: 80px 0 84px 0;
    }
    .Robin1{
    max-width: 436px;
    margin-left: -5px; 
    }
    .Robin-img{
    max-width: 384px;
    height: 650px;
    justify-content: center;
    }
    h1{
    font-size: 56px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 32px;
    }
    h1 span{
    font-size: 56px;
    font-weight: 600;
    opacity: 50%;}
    .container2{
    max-width: 688px;
    }
    .container3{
        max-width: 720px;
    }
    .Philosophy-text{
        padding: 80px 40px 80px 0;
    }
    .Philosophy-text p{
        margin-bottom: 67px;
    }
    .Philosophy-img{
        content: url(assets/Rectangle391.png);
    }
    .Skill-img .dop{
        display: flex;
    }
    .Skill-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    .Skill-img div {
        padding: 40px 20px; 
    }

    .Skill-img div:not(:first-child) {
        margin-left: 0;
    }
    .project-flex .button{
        display: none;
    }
    .project-flex{
        flex-direction: column;
        gap: 48px;
    }
    .Inst-text{
        padding: 80px 40px 80px 0;
    }
    .Inst-text p{
        margin-bottom: 133px;
    }
    .Inst-img{
        content: url(assets/fly1.png);
    }
    .container4{
        max-width: 688px;
    }
    .Dribbble-img{
        content: url(assets/dr.png);
    }
    .Dribbble-text a{
        margin-bottom: 120px;
    }
    .test-text{
        max-width: 333px;
        margin-top: 80px;
    }
    .test-text p{
        margin-bottom: 40px;
    }
    .test-img{
        max-width: 332px;
        margin-top: 80px;
        gap: 64px;
    }
    .pick1{
        content: url(assets/p1.png);
    }
    .pick2{
        content: url(assets/p2.png);
    }
    .pick3{
        content: url(assets/p3.png);
    }
    .test-o-text{
    padding: 32px 32px;
    }
    .photography-text{
    padding-top: 80px;
    }
    .photography-text p{
        max-width: 689px;
    }
    .photography-img{
        padding-bottom: 80px;
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(2, 1fr); 
        gap: 24px
    }
    .started-text{
    padding-top: 80px;
    }
    .started-text p{
    max-width: 332px;
    }

    .started-a {
        max-width: 332px; 
        width: 100%;
        padding-top: 120px;
        margin-bottom: 120px;
    }
    .started-a a {
        padding: 24px 79px;
    }
    .footer-text {
    padding-bottom: 80px;
    max-width: 329px;
    }
    .ssp-flex { 
    margin-right: 0;         
}


}
@media(min-width:360px) and (max-width: 767px){
    .menu-icon{
        display: block;
        width: 24px;
    }
    .inf{
        display: none;
    }
    .inf-button{
        display: none;
    }
    .container{
        max-width: 320px;
    }
    .container1{
        max-width: 360px;
    }
    .itog1{
        flex-wrap: wrap;
        padding: 0;
    }
    header{
        background-image: none;
        background-color: black;
    }
    .Robin{
        background: black;
    }
    .Robin-img img{
        justify-content:center;
        width: 100vw;

    }
    .Robin1{
    max-width: 320px;
    padding: 48px 20px 48px 20px;
    margin-left: 0px;
    }
    h1{
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 16px;
    }
    h1 span{
    font-size: 32px;
    font-weight: 600;
    opacity: 50%;
    }
    .container2{
    max-width: 320px;
    margin: 0 auto;
    }
    .Company-flex{
        flex-wrap: wrap;
        max-width: 320px;
    }
    .container3{
        max-width: 320px;
        margin-left: 0;
    }
    .Philosophy-flex{
        flex-wrap: wrap;
    }
    .Philosophy-img{
        content: url(assets/Rectangle392.png);
        max-width: 362px;
    }
    .Philosophy-text{
        padding: 48px 20px 48px 20px;
    }
    .Philosophy-text p{
        margin-bottom: 90px;
    }
    .Skill-flex{
        flex-direction: column;
        gap: 48px;
    }
    .Skill-text2 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .Skill-img .dop{
        display: flex;
    }
    .Skill-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        border-top: 1px solid #222222;
        border-left: 1px solid #222222;
    }

    .Skill-img div {
        padding: 40px 20px; 
        border: none; 
        border-bottom: 1px solid #222222;
        border-right: 1px solid #222222;
    }

    .Skill-img div:not(:first-child) {
        margin-left: 0;
    }
    .project-flex .button{
        display: none;
    }
    .project-flex{
        flex-direction: column;
        gap: 48px;
    }
    .Inst-flex{
        flex-wrap: wrap;
    }
    .Inst-img{
        content: url(assets/Rectangle392.png);
    }
    .Inst-text{
        padding: 48px 20px 48px 20px;
    }
    .Inst-text p{
        margin-bottom: 125px;
    }
    .Dribbble-img{
        content: url(assets/dr1.png);
    }
    .container4{
        max-width: 320px;
    }
    .Dribbble-text a{
        margin-bottom: 64px;
    }
    .test-text{
        margin-top: 48px;
        max-width: 320px;
    }
    .test-text p{
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .test-flex{
        flex-direction: column;
        gap: 48px;
    }
    .pick1{
        content: url(assets/pi1.png);
    }
    .pick2{
        content: url(assets/pi2.png);
    }
    .pick3{
        content: url(assets/pi3.png);
    }
    .test-img{
        margin-top: 64px;
        margin-bottom: 48px;
        gap: 48px;
    }
    .test-o-text{
    padding: 32px 32px;
    }
    .photography-text{
    padding-top: 48px;
    margin-bottom: 40px;
    }
    .photography-text p{
    margin-top: 24px;
    max-width: 320px;
    }
    .photography-img{
    padding-bottom: 48px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    }
    .photography-as{
        text-align: center;
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(2, 1fr); 
        gap: 24px
        
    }   
    .started-flex{
        flex-wrap: wrap;
    }
    .started-text{
    padding-top: 48px;
    }
    .started-text p{
        margin-top: 16px;
    max-width: 320px;
    }

    .started-a {
        max-width: 320px; 
        width: 100%;
        padding-top: 48px;
        margin-bottom: 48px;
    }
    .started-a a {
        padding: 24px 79px;
    }
    
    .footer-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 32px;               
    }
    .ssp-flex {
        display: flex;
        flex-direction: column;  
        align-items: flex-start;
        gap: 20px;               
    }

    .ssp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;               
    }

    .footer-text {
        margin-top: 48px;
        text-align: left;        
    }
}